body {
	text-align: center;
	background-color: #012169;
	color: #fff;
}
html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
table {
	margin: auto;
	table-layout: fixed;
}		
.grn {
background-color: green !important;
}
.ylw, .ylwUp, .ylwDwn{
background-color: #aaaa00 !important;
}
.ylwUp::after {
content: "↑";
}
.ylwDwn::after {
content: "↓";
}
.dwn::after {
	content: "↓";
}
.up::after {
content: "↑";
}
th, td {
  padding: 15px;
}
tr {
	width: 100%;
}
td {
	background-color: rgba(255,255,255,0.3);
}
#res {
	background-color: #000;
	/*margin: 15% auto;*/
	margin: 12.5% auto;
	color: #fff;
	width: 80%;
	height: 50%;
	padding: 20px;
	text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}